head
link(href='/stylesheets/bootstrap.min.css' rel='stylesheet')
link(href='/stylesheets/bootstrap.css' rel='stylesheet')
link(href='/stylesheets/font-awesome.min.css' rel='stylesheet')
link(href='/stylesheets/stylish-portfolio.css' rel='stylesheet')
link(href='/stylesheets/bootstrap.min.css' rel='stylesheet')
script(src='/javascripts/jquery-2.1.4.min.js')
script(src='javascripts/bootstrap.min.js')
script(src='javascripts/d3.v3.min.js')
script(src='javascripts/mkay.js')
script(src='javascripts/socket.io.js')
script(src='javascripts/jquery.js')
script(src='javascripts/commons.js')