
doctype html
html(lang='en')
    include head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')

    title Stylish Portfolio - Start Bootstrap Theme
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic', rel='stylesheet', type='text/css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body
    // Header
    header#top.header
      .text-vertical-center
        h2
          | Order sweets from famous and best bakeries near you in Bangalore!
          br
          br
          br
          br
          .btn-toolbar
            .btn-group.dropdown(style='left: 40%; right: auto;')
              button#citydropdown.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown',aria-haspopup="true", aria-expanded="true", style='background-color: white;width: 100%;height: 40px;text-align: center;')
                | Select City
                span.caret
              ul.dropdown-menu.dropdown-menu-left(role='menu', aria-labelledby='citydropdown')
                li(role='presentation')
                  a(href="#" data-value="Bangalore") Bangalore
                li(role='presentation')
                    a(href="#" data-value="Chennai") Chennai
            .btn-group.dropdown(style='left: 40%; right: auto;')
              button#localitydropdown.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown',aria-haspopup="true", aria-expanded="true", style='background-color: white;width: 100%;height: 40px;text-align: center;')
                    | Select Locality
                    span.caret
                ul.dropdown-menu.dropdown-menu-left(role='menu', aria-labelledby='localitydropdown')
                    li(role='presentation')
                        a(href="#" data-value="Marathahalli") Marathahalli
                    li(role='presentation')
                        a(href="#" data-value="Bellandur") Bellandur
                    li(role='presentation')
                        a(href="#" data-value="Koramangala") Koramangala
                    li(role='presentation')
                        a(href="#" data-value="Mahadevapura") Mahadevapura
                    li(role='presentation')
                        a(href="#" data-value="SilkBoard") SilkBoard

    // About
    section#about.about
      .container
        .row
          .col-lg-12.text-center
            h2 It's a perfect day to order the sweets
            // <p class="lead">This theme features some wonderful photography courtesy of <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a>.</p>
        // /.row
      // /.container
    // Services
    // The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/
    section#services.services.bg-primary
      .container
        .row.text-center
          .col-lg-10.col-lg-offset-1
            h2 Our Services
            hr.small
            .row
              .col-md-3.col-sm-6
                .service-item
                  span.fa-stack.fa-4x
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-desktop.fa-stack-1x.text-primary
                  h4
                    strong Register your Number
                  p Register with us your number and location.
              .col-md-3.col-sm-6
                .service-item
                  span.fa-stack.fa-4x
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-mobile.fa-stack-1x.text-primary
                  h4
                    strong We call you
                  p Our representative will call you back for order details.
              .col-md-3.col-sm-6
                .service-item
                  span.fa-stack.fa-4x
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-automobile.fa-stack-1x.text-primary
                  h4
                    strong Collect your order
                  p Our person will order and collect your sweets from bakery.
              .col-md-3.col-sm-6
                .service-item
                  span.fa-stack.fa-4x
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-credit-card.fa-stack-1x.text-primary
                  h4
                    strong Delivery & Pay
                  p We deliver your order at the location you want and you pay to us
     // Footer
    footer
      .container
        .row
          .col-lg-10.col-lg-offset-1.text-center
            h4
              strong ButterHubs.com
            ul.list-unstyled
              li
                i.fa.fa-envelope-o.fa-fw
                a(href='mailto:name@example.com') butterhubs@butterhubs.com
            br
            ul.list-inline
              li
                a(href='#')
                  i.fa.fa-facebook.fa-fw.fa-3x
              li
                a(href='#')
                  i.fa.fa-twitter.fa-fw.fa-3x
              li
                a(href='#')
                  i.fa.fa-dribbble.fa-fw.fa-3x
            hr.small
            p.text-muted Copyright © Your Website 2015
    // Custom Theme JavaScript
    script.
      // Closes the sidebar menu
      $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
      });
      // Opens the sidebar menu
      $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
      });
      // Scrolls to the selected menu item on the page
      $(".dropdown-menu li a").click(function () {
          $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="caret"></span>');
          $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
      });
