
doctype html
html(lang='en')
    include head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')

    title Stylish Portfolio - Start Bootstrap Theme
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic', rel='stylesheet', type='text/css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body
    // Navigation
    a#menu-toggle.btn.btn-dark.btn-lg.toggle(href='#')
      i.fa.fa-bars
    nav#sidebar-wrapper
      ul.sidebar-nav
        a#menu-close.btn.btn-light.btn-lg.pull-right.toggle(href='#')
          i.fa.fa-times
        li.sidebar-brand
          a(href='#top', onclick='$("#menu-close").click();') Start Bootstrap
        li
          a(href='#top', onclick='$("#menu-close").click();') Home
        li
          a(href='#about', onclick='$("#menu-close").click();') About
        li
          a(href='#services', onclick='$("#menu-close").click();') Services
        li
          a(href='#portfolio', onclick='$("#menu-close").click();') Portfolio
        li
          a(href='#contact', onclick='$("#menu-close").click();') Contact
    // Header
    header#top.header
      .text-vertical-center
        h2
          | Order sweets from famous and best bakeries in your town
          h3 Free Bootstrap Themes & Templates
          br
          a.btn.btn-dark.btn-lg(href='#about') Click here to order
    // About
    section#about.about
      .container
        .row
          .col-lg-12.text-center
            h2 It's a perfect day to order the sweets
            // <p class="lead">This theme features some wonderful photography courtesy of <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a>.</p>
        // /.row
      // /.container
    // Services
    // The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/
    section#services.services.bg-primary
      .container
        .row.text-center
          .col-lg-10.col-lg-offset-1
            h2 Our Services
            hr.small
            .row
              .col-md-3.col-sm-6
                .service-item
                  span.fa-stack.fa-4x
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-desktop.fa-stack-1x.text-primary
                  h4
                    strong Register your Number
                  p Register with us your number and location.
              .col-md-3.col-sm-6
                .service-item
                  span.fa-stack.fa-4x
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-mobile.fa-stack-1x.text-primary
                  h4
                    strong We call you
                  p Our representative will call you back for order details.
              .col-md-3.col-sm-6
                .service-item
                  span.fa-stack.fa-4x
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-automobile.fa-stack-1x.text-primary
                  h4
                    strong Collect your order
                  p Our person will order and collect your sweets from bakery.
              .col-md-3.col-sm-6
                .service-item
                  span.fa-stack.fa-4x
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-credit-card.fa-stack-1x.text-primary
                  h4
                    strong Delivery & Pay
                  p We deliver your order at the location you want and you pay to us
            // /.row (nested)
          // /.col-lg-10
        // /.row
      // /.container
    .btn-toolbar
      .btn-group.dropdown
        button#dropdownMenu1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', style='background-color: white;width: 100%;height: 40px;text-align: center;')
          | Select City
          span.caret
        ul.dropdown-menu.dropdown-menu-left(role='menu', aria-labelledby='dropdownMenu1')
          li(role='presentation')
            a(role='menuitem', tabindex='-1', href='#') Bangalore
          li(role='presentation')
            a(role='menuitem', tabindex='-1', href='#') Chennai
    // Callout
    aside.callout
      .text-vertical-center
        h1 Vertically Centered Text
    // Portfolio
    section#portfolio.portfolio
      .container
        .row
          .col-lg-10.col-lg-offset-1.text-center
            h2 Our Work
            hr.small
            .row
              .col-md-6
                .portfolio-item
                  a(href='#')
                    img.img-portfolio.img-responsive(src='images/portfolio-1.jpg')
              .col-md-6
                .portfolio-item
                  a(href='#')
                    img.img-portfolio.img-responsive(src='images/portfolio-2.jpg')
              .col-md-6
                .portfolio-item
                  a(href='#')
                    img.img-portfolio.img-responsive(src='images/portfolio-3.jpg')
              .col-md-6
                .portfolio-item
                  a(href='#')
                    img.img-portfolio.img-responsive(src='images/portfolio-4.jpg')
            // /.row (nested)
            a.btn.btn-dark(href='#') View More Items
          // /.col-lg-10
        // /.row
      // /.container
    // Call to Action
    aside.call-to-action.bg-primary
      .container
        .row
          .col-lg-12.text-center
            h3 The buttons below are impossible to resist.
            a.btn.btn-lg.btn-light(href='#') Click Me!
            a.btn.btn-lg.btn-dark(href='#') Look at Me!
    // Map
    section#contact.map
      iframe(width='100%', height='100%', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src='https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&aq=0&oq=twitter&sll=28.659344,-81.187888&sspn=0.128789,0.264187&ie=UTF8&hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&t=m&z=15&iwloc=A&output=embed')
      br
      small
        a(href='https://maps.google.com/maps?f=q&source=embed&hl=en&geocode=&q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&aq=0&oq=twitter&sll=28.659344,-81.187888&sspn=0.128789,0.264187&ie=UTF8&hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&t=m&z=15&iwloc=A')
    // Footer
    footer
      .container
        .row
          .col-lg-10.col-lg-offset-1.text-center
            h4
              strong Start Bootstrap
            p
              | 3481 Melrose Place
              br
              | Beverly Hills, CA 90210
            ul.list-unstyled
              li
                i.fa.fa-phone.fa-fw
                |  (123) 456-7890
              li
                i.fa.fa-envelope-o.fa-fw
                a(href='mailto:name@example.com') name@example.com
            br
            ul.list-inline
              li
                a(href='#')
                  i.fa.fa-facebook.fa-fw.fa-3x
              li
                a(href='#')
                  i.fa.fa-twitter.fa-fw.fa-3x
              li
                a(href='#')
                  i.fa.fa-dribbble.fa-fw.fa-3x
            hr.small
            p.text-muted Copyright © Your Website 2015
    // Custom Theme JavaScript
    script.
      // Closes the sidebar menu
      $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
      });
      // Opens the sidebar menu
      $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
      });
      // Scrolls to the selected menu item on the page
      $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
          if (location.pathname.replace(/^\\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
          if (target.length) {
            $('html,body').animate({
              scrollTop: target.offset().top
            }, 1000);
            return false;
          }
        }
      });
      });
